---
import Base from "../layouts/Base.astro";
import "../styles/global.css";
---

<Base title="Bili Dong">
  <main>
    <h1>Bili Dong</h1>
    <nav>
      <ul>
        <li>
          <a
            href="https://github.com/qobilidop"
            target="_blank"
            rel="noopener noreferrer">GitHub</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/qobilidop/"
            target="_blank"
            rel="noopener noreferrer">LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://x.com/qobilidop"
            target="_blank"
            rel="noopener noreferrer">Twitter/X</a
          >
        </li>
      </ul>
    </nav>
  </main>
</Base>
